body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container-fluid {
    flex: 1; 
}

footer {
    background-color: #000; 
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}


.filters {
    text-align: center;
    margin-top: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: goldenrod;
}

#matchs-container {
    margin-top: 20px;
    text-align: center;
}


.match-list ul {
    list-style-type: none;
    padding: 0;
}

.match-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
}


.navbarstyle {
    background-color: black;
    color: white;
    height: 100px;
}
.navbarelement  {
    margin: 50px;
    color:rgb(65, 65, 222);
    font-size: 22px ;
    font-weight:500;
}
.navbarelement:hover {
     
    color:white;
    border-radius:15px;
}


.home-banner {
    height: 500px;
    background-image: url(../img/the_real_deal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vignette {
    height: 500px;
    
    background-color: rgb(103, 103, 103);
    border-radius:35px;
}

.signupcard {
    background-color: #071013;
    border:0px;
}
.bgimg {
    background-image: url("../img/signupimg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contrail-one-regular {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1px;
  }

  .btnco{
    text-decoration: none;
    color:white;
    border-radius:15px;
    padding:15px 25px;
    background-color:#2461CC;
  }
  .btnco:hover {
    background-color:white;
    color:#2461CC;
    transition: 0.2s ease-in-out ;
  }

  .h500 {
    height: 475px;
  }
  